{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Modifications</h1>
   {{ form_start(form) }}
   {{ form_widget(form) }}
<div class="">

  
      </div>   {% for image in article.images %}
            <div>
                <img src="{{ asset('/assets/images/' ~ image.name)  |
                                imagine_filter('carre') }}" alt="Image" >
                <a class="btn btn-danger" href="{{ path('article_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    <input type ="submit" value="Mettre à jour" class="btn btn-primary btn-block"> </input>
   {{ form_end(form) }}
   


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}