{% extends 'base.html.twig' %}

{% block title %}PostPage{% endblock %}

{% block body %}

<style>

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>





{% if article.images.count() > 0 %}
<div class="d-flex justify-content-center">
   <div>      
    <h2> 
      <span class="text-muted" align="center">Images concernant cet article.</span>
    </h2>
</div>
</div>

{% endif %}
<div id="carouselExampleCaptions" class="carousel slide mx-auto pl-4 " data-ride="carousel" >
    <ol class="carousel-indicators">

        {% for item in article.images %}
            <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index-1 }}" class="{{ loop.first ? 'active': '' }} "></li>
        {% endfor %}

    </ol>

    <div class="carousel-inner">
        {#
        variable gobale mostLovedMovies contenant les 10 films les mieux notés( films à la une).
        On boucle sur cette variable pour afficher les films à la une( titre, image
        et une partie de la description du film).
        #}
        {% for item in article.images %}
            <div class="carousel-item {{ loop.first ? 'active': '' }} ">
            <div class="d-flex justify-content-center">
            <div>      
              <img src="{{ asset('/assets/images/' ~ item.name)  |
                                            imagine_filter('moyen') }}" alt="Image" > 
          </div>
          </div>
              
                  {# <div class="carousel-caption d-none d-md-block bg-primary text-white">
                    <h5 class="text-"> {{  article.titre }}</h5>
                    <p >{{  article.id| slice(0,100)}} </p>
                </div> #}
            </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br/>

 <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark ">
   
  
      <div >


       <img class="rounded-lg md:w-56" 
       src="https://fontstand.com/assets/Uploads/Foundry/36/Aa/_resampled/SetWidth200200-Harriet-Text-Light-Aa-e894207dac8fa1c6bc7a89d18aeba658.png"
       class="doc-item " alt="Responsive image"/>
       
        <h2>{{ article.titre }}</h2>
        <p>{{ article.description}}</p>
      </div><!-- /.col-lg-4 -->
      <div class="d-flex justify-content-center">
   <div> 
   {% if userId == article.user.id %}   
    <a class="btn btn-primary my-2" href="{{path('editPost', {idPost:article.id}) }}">Modifier<a/>
      <a class="btn btn-danger my-2" href="#" onclick="event.preventDefault(); confirm('Supprimer ce post ?') &&
         document.getElementById('form-id').submit();">Supprimer<a/>      
        <form id ="form-id" action="{{path('deletePost', {idPost:article.id}) }}" method="post" style="display">
        <input type="hidden" method="_method"  value="DELETE"/>

      </form>
      {% endif %}
</div>
</div>


      
    </div>
  </div>
  <main class="container text-white rounded ">
  <div class="d-flex justify-content-center">
   <div>      
    <h2> 
    <img class="me-3" src="https://www.culture-informatique.net/WordPress3/wp-content/uploads/2012/10/Question2.jpg" alt="" width="200" height="200">
    </h2>
</div>
</div>
  

  <div class="my-3 p-3 bg-white rounded shadow-sm p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <div class="d-flex text-muted pt-3 ">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>
  </div>
</main>


{% endblock %}
